.layer-title-expand {
  h4 {
    margin-top: 0;
  }
}

.layer-search{
  display: flex;
  small{
    position: relative;
    margin-left: 0.2rem;
    margin-top: 1.2rem;
    bottom: -0.2rem;
  }
  input{
    margin-left: 0.5rem;
  }
}
