<section *ngIf="Capability">
  <div class="layer-title-expand clr-tree-node-content-container">
    <button class="clr-treenode-caret ng-tns-c8-288" type="button" (click)="toggleObject(CapabilityView)">
      <clr-icon class="clr-treenode-caret-icon" shape="caret" dir="{{(CapabilityView.toggle)?'down':'right'}}">
      </clr-icon>
    </button>
    <div class="clr-treenode-content">
      <h4 (click)="toggleObject(CapabilityView)" id="{{CapabilityView.anchor}}" class="margin-right-0_25">
        {{CapabilityView.title}}
      </h4>
    </div>
  </div>
  <table *ngIf="CapabilityView.toggle" class="table table-vertical">
    <tbody>
      <tr *ngFor="let key of Capability | omit: 'Request' : 'Layer' | keys">
        <th>{{key}}</th>
        <td class="word-break">{{Capability[key]}}</td>
      </tr>
    </tbody>
  </table>
</section>

<section *ngIf="Request">
  <div class="layer-title-expand clr-tree-node-content-container">
    <button class="clr-treenode-caret ng-tns-c8-288" type="button" (click)="toggleObject(RequestView)">
      <clr-icon class="clr-treenode-caret-icon" shape="caret" dir="{{(RequestView.toggle)?'down':'right'}}">
      </clr-icon>
    </button>
    <div class="clr-treenode-content">
      <h4 (click)="toggleObject(RequestView)" id="{{RequestView.anchor}}" class="margin-right-0_25">
        {{RequestView.title}}
      </h4>
    </div>
  </div>
  <table *ngIf="RequestView.toggle" class="table table-vertical">
    <tbody>
      <tr *ngFor="let key of Request | keys">
        <th>{{key}}</th>
        <td class="word-break">{{ showDeepPropsRequest(key,Request)}}</td>
      </tr>
    </tbody>
  </table>
</section>

<section *ngIf="Layer">
  <div class="layer-title-expand clr-tree-node-content-container">
    <button class="clr-treenode-caret ng-tns-c8-288" type="button" (click)="toggleObject(LayerView)">
      <clr-icon class="clr-treenode-caret-icon" shape="caret" dir="{{(LayerView.toggle)?'down':'right'}}">
      </clr-icon>
    </button>
    <div class="clr-treenode-content">
      <h4 (click)="toggleObject(LayerView)" id="{{LayerView.anchor}}" class="margin-right-0_25">
        {{LayerView.title}}
      </h4>
    </div>
  </div>
  <table *ngIf="LayerView.toggle" class="table table-vertical">
    <tbody>
      <tr *ngFor="let key of Layer | keys">
        <th>{{key}}</th>
        <td class="word-break">{{ showDeepPropsLayer(key, Layer)}}</td>
      </tr>
    </tbody>
  </table>
</section>

<span *ngIf="Layer">
  <div class="layer-search">
    <h3>All Layers</h3>
    <small>(with att Name)</small>
    <input clrInput placeholder="Layer Search" name="LayerSearch" [(ngModel)]="layerSearch" />
  </div>
 
  <hr>
  <span *ngFor="let _layer of layersarray | orderBy: ['Title'] | filterBy: ['Title']: layerSearch">
    <div class="layer-title-expand clr-tree-node-content-container">
      <button class="clr-treenode-caret ng-tns-c8-288" type="button" (click)="toggleObject(_layer)">
        <clr-icon class="clr-treenode-caret-icon" shape="caret" dir="{{(_layer.toggle)?'down':'right'}}"></clr-icon>
      </button>
      <div class="clr-treenode-content">
        <h4 (click)="toggleObject(_layer)" id="{{_layer.anchor}}" class="margin-right-0_25">{{_layer.Title}}
        </h4>
        <clr-icon *ngIf="_layer.Layer && _layer.Layer.length" shape="bullet-list"></clr-icon>
      </div>
      <button class="btn btn-icon" type="button" (click)="addToMap(_layer)">
        <clr-icon shape="map"></clr-icon> show on map
      </button>
    </div>
    <table *ngIf="_layer.toggle" class="table table-vertical">
      <tbody>
        <tr *ngFor="let key of _layer | omit : 'Title' : 'toggle' : 'anchor' | keys">
          <th>{{key}}</th>
          <td class="word-break">{{showDeepPropsLayer(key, _layer)}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
  </span>

</span>
