// out: ./css/main.css, compress: true

table-bg-color = #fff
table-color = #303030

section {
    margin-top: 10px
}

table .detail-click {
    width: 40px;
    cursor: pointer;

    &:hover {
      background-color: table-bg-color
      color: table-color
    }
    &:focus {
      background-color: table-bg-color
      color: table-color
    }

}
