/* You can add global styles to this file, and also import other style files */
@import "variables";

@import url("~openlayers/dist/ol.css");

//@import url("~ol/ol.css");

/** fix css not included in bundles
* DEPRECATION WARNING: Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
* Use a custom importer to maintain this behaviour. Check your implementations documentation on how to create a custom importer.
*/
// @import "~ol/ol";

// Clarity Icons
@import "@clr/icons/clr-icons.min.css";
// Clarity Dependency SCSS and Clarity Component SCSS
@import "@clr/ui/src/main";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.table {
  td.word-break {
    word-break: break-word;
  }
}
