// out: site.css, nib: true
////sourcemap: true, compress: true,
body{
  margin: 0 10px 0 10px;
}

.main-view{

}

nav-height = 64px;

.search-view{
  margin-top: - nav-height;
  height: nav-height;
  nav{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);

    label{
      i{
        cursor: pointer;
      }
    }
  }

  .input-field{
    height: nav-height;
  }

  select {
    cursor: pointer;
    display: block;
    margin: 0px;
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: none;
    height: nav-height;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: no-repeat #EE6E73;
    &:focus{
      color: #000;
      background: no-repeat #fff;
      option{
        outline: none;
        &:hover{
          color: #000;
          background: #EE6E73;
          box-shadow: 0 0 10px 100px #EE6E73 inset;
        }
      }
    }

    option {
      padding:1em;
      border: none;
    }
  }
}

.list-view{
  //height: 800px;
  //overflow-y: scroll;
}

.list-header{
  margin: 0.5rem 0 0rem;
  border-bottom-width: 0;
}

.list-body{
  height: auto;
  border-top-width: 0;
  max-height: 575px;
  overflow-y: auto; //scroll;
  margin-top: 0px;
}

.detail-view{

}
