<ul class="collection with-header">
  <li class="collection-header">
    <div class="row">
      <div class="col s4">
        <h3>Layers</h3>
      </div>
      <div class="col s8">
        <div class="input-field">
          <input bindon-ngModel="filter" id="layer_filter" type="text" class="validate">
        </div>
      </div>
    </div>
  </li>
  <a class="collection-item" *ngFor="#layer of layersarray | startsWith: 'Title': filter" [ngClass]="{active: layer.Name == selectedLayer}" on-click="sendLayerData(layer)">
    <div>{{layer.Title}}
      <span class="secondary-content"><i class="mdi mdi-navigation-chevron-right"></i></span>
    </div>
  </a>
</ul>
