<div class="card">
  <div class="card-image">
    <div #mapDiv style="height: 600px;"></div>
  </div>
  <div class="card-content">
    <div *ngIf="ldetail" class="range-field">
      <input type="range" [value]="getLayerOpacity()" min="0" max="100" (change)="setLayerOpacity($event.target.value)" />
    </div>
    <table *ngIf="ldetail" class="striped responsive-table">
      <thead>
        <tr>
          <th data-field="id">Value</th>
          <th data-field="name">Description</th>
        </tr>
      </thead>
      <tbody>
        <!--
        <tr *ngFor="#value of ldetailKes">
          <td>{{value}}</td>
          <td>{{ldetail[value]}}</td>
        </tr>
      -->

        <tr>
          <td>Layer Name</td>
          <td>{{ldetail.Name}}</td>
        </tr>
        <tr>
          <td>Layer Title</td>
          <td>{{ldetail.Title}}</td>
        </tr>
        <tr>
          <td>Abstract</td>
          <td>{{ldetail.Abstract}}</td>
        </tr>
        <tr>
          <td>CRS</td>
          <td>{{ldetail.BoundingBox[0].crs}}</td>
          <!-- todo: more then one bbox -->
        </tr>
        <tr>
          <td>BoundingBox</td>
          <td>{{ldetail.BoundingBox[0].extent}}</td>
        </tr>
        <tr>
          <td>WMS-Url</td>
          <td>{{ldetail.url}}</td>
        </tr>
        <tr>
          <td>Queryable</td>
          <td>{{ldetail.queryable}}</td>
        </tr>
        <tr>
          <td>Legend</td>
          <td><img [src]="ldetail.legendUrl"></td>
        </tr>

      </tbody>
    </table>
    <!--
Abstract
Attribution
BoundingBox
Dimension
EX_GeographicBoundingBox
KeywordList
MaxScaleDenominator
MinScaleDenominator
Name
Style
Title
cascaded
fixedHeight
fixedWidth
noSubsets
opaque
queryable
url
-->



    <!--
    {{ldetail | json}}
    <p>WMS version: {{model.version}}</p>
    <p>Layer Name: {{ldetail.name}}</p>
  -->
  </div>
  <div class="card-action">
    <a href="{{capabilities.fullUrl}}" target="_blank">This is a link to GetCapabilities XML Document</a>
  </div>
</div>
