<div class="layer-list">
  <div class="layer-list-title">
    <h3>Layers</h3>
    <button type="button" (click)="removeAllLayers()" title="remove all layer" class="btn btn-icon btn-danger"
      aria-label="home">
      <clr-icon shape="trash"></clr-icon>
    </button>
  </div>

  <!--  <form clrForm>
    <input clrInput placeholder="Fill me in, scotty!" name="name" [(ngModel)]="name" />
    <input clrInput type="text" aria-label="Search in layers" name="search" placeholder="Search...">
  </form> -->

  <ul class="layer-list">
    <li class="layer-list-item" *ngFor="let layer of layersarray">
      <a routerLink="/home" fragment="{{layer.get('anchor')}}" title="back to {{layer.get('anchor')}}">
        <clr-icon shape="caret" dir="left"></clr-icon>
      </a>
      {{layer.get('title')}}
      <span></span>
      <clr-icon [attr.shape]="getLayerVisibleIcon(layer)" (click)="toggleLayer(layer)" title="remove layer"></clr-icon>
      <clr-icon shape="trash" (click)="removeLayer(layer)" title="remove layer"></clr-icon>
    </li>
  </ul>



  <!--

<clr-tree-node *ngFor="let layer of layersarray">
    {{layer.Title}}
    <ng-template clrIfExpanded>
      <layer-tree [layer]="layer"></layer-tree>
    </ng-template>
  </clr-tree-node>
-->



</div>
