/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import url('~openlayers/dist/ol.css');

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.table{
    td.word-break{
        word-break: break-word;
    }
}